<!-- File: about.html-->
<!-- Author: Yash Kedia (yashkedi@bu.edu), 1/27/2026 -->
<!-- Description: HTML page for about view -->
<!-- quotes/templates/quotes/about.html -->

{% extends 'quotes/base.html' %}

{% block content %}
  <h2>Welcome!!</h2>

  <p>
    This application displays quotes by and images of
    <a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank">Steve Jobs</a>.
  </p>

  <p>
    Steve Jobs was an American entrepreneur and inventor best known as a co-founder of Apple.
    He played a major role in shaping personal computing and consumer technology through products like the
    Macintosh, iPod, iPhone, and iPad. Jobs was widely recognized for his focus on design, simplicity,
    and innovation, and he is also known for his Stanford commencement address where he encouraged people
    to follow their curiosity and do meaningful work.
  </p>
{% endblock %}
