<!-- Author: Yash Kedia (yashkedi@bu.edu), 09/24/2025 -->
<!-- Description: HTML page to be used as for showing all profiles -->

{% extends 'mini_insta/base.html' %}
<h2>Showing all profiles</h2>

{% block content %}
<div id="i-container">
    <div id="instagram-container">
    <!-- scriplet code for a for loop -->
    {% for profile in profiles %}
    <div id="insta-profile">
        <div id="insta-container-image">
            <a href="{% url 'show_profile' profile.pk %}"><img src="{{profile.profile_image_url}}"></a>
        </div>
        <div id="insta-container-name">
            <a href="{% url 'show_profile' profile.pk %}"><h2>{{profile.username}}</h2></a>
            <a href="{% url 'show_profile' profile.pk %}"><h3>{{profile.display_name}}</h3></a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
