<!-- Author: Yash Kedia (yashkedi@bu.edu), 2/19/26 -->
<!-- Description: HTML page to be used as for showing one post -->

{% extends 'mini_insta/base.html' %}
<!-- displays a single Post. -->

{% block content %}
<div id="post-detail">
    <h2>{{ post.profile }}</h2>
    <p>{{ post.timestamp }}</p>

    <div id="post-photos">
        {% for photo in post.get_all_photos %}
            <img src="{{ photo.get_image_url }}" alt="post photo">
        {% empty %}
            <img src="https://nftcalendar.io/storage/uploads/2022/02/21/image-not-found_0221202211372462137974b6c1a.png" alt="no image">
        {% endfor %}
    </div>

    <div id="likes">
        {% if post.get_first_like %}
            <p>Liked by
                <strong>{{post.get_first_like.profile.username}}</strong> 
                and {{post.get_num_likes}} others.
            </p>
        {% else %}
            <p>No likes.</p>
        {% endif %}
    </div>

    <p>{{ post.caption }}</p>

    <div id="comments">
            {% for comment in post.get_all_comments %}
                <p><strong>{{comment.profile.username}}</strong> {{comment}}</p>
            {% endfor %}
    </div>
    <div id="post-delete">
        <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
    </div>
    <div id="post-update">
        <a href="{% url 'update_post' post.pk %}">Update Post</a>
    </div>
</div>
{% endblock %}