<!-- Author: Yash Kedia (yashkedi@bu.edu), 02/12/2026 -->
<!-- Description: HTML page to be used as for showing one profile -->

{% extends 'mini_insta/base.html' %}
<!-- this displays a single Profile. -->

{% block content %}
<div id="view-height">
    <div id="insta-bio">
        <div id="insta-bio-name">
            <h2>{{profile.username}}</h2>
            <h3>{{profile.display_name}}</h3>
            <h3>{{profile.bio_text}}</h3>
            <h3>Joined: {{profile.join_date}}</h3>
            <h3><a href="{% url 'show_followers' profile.pk %}">Followers: {{profile.get_num_followers}}</a></h3>
            <h3><a href="{% url 'show_following' profile.pk %}">Following: {{profile.get_num_following}}</a></h3>
            {% if request.user.is_authenticated and request.user == profile.user %}
            <div class="button-container">
                <button class="update-profile-button"><a href="{% url 'update_profile' %}">Update Profile</a></button>
            </div>
            {% endif %}

            {% if request.user.is_authenticated and request.user != profile.user %}
                {% with logged_in_profile=request.user.profile_set.first %}
                    {% if logged_in_profile in profile.get_followers %}
                        <a href="{% url 'delete_follow' profile.pk %}"><button class="update-profile-button">Unfollow</button></a>
                    {% else %}
                        <a href="{% url 'follow_profile' profile.pk %}"><button class="update-profile-button">Follow</button></a>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>

        <div id="insta-bio-image">
            <img src="{{profile.profile_image_url}}" alt="profile image">
        </div>
    </div>

    <div id="profile-posts">
        {% for post in profile.get_all_posts %}
        <a href="{% url 'show_post' post.pk %}">
            {% with photos=post.get_all_photos %}
                {% if photos %}
                    <img src="{{ photos.first.get_image_url }}" alt="post image">
                {% else %}
                    <img src="https://nftcalendar.io/storage/uploads/2022/02/21/image-not-found_0221202211372462137974b6c1a.png" alt="no image">
                {% endif %}
            {% endwith %}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
