<!-- Author: Yash Kedia (yashkedi@bu.edu), 2/28/26 -->
<!-- Description: show the HTML form used to update a profile -->

<!-- Template path: mini_insta/templates/mini_insta/update_profile_form.html -->

{% extends 'mini_insta/base.html' %}
{% block content %}
<div id="create-post-form">
    <h2>Update Profile</h2>
    <form action="{% url 'update_profile' profile.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br><br>
        <input type="submit" name="submit" value="Update">
        <a href="{% url 'show_profile' profile.pk %}"><button type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}
